#cake {
    background-color:  #e8ccfd;
    font-family: 'Great Vibes',cursive;
    font-size: 2.9rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  background-color:  #fff5f5;
  border-bottom:2px solid #ffb6c1;
   font-family: 'Poppins', sans-serif;
}
.link {
   color: #e91e63;
  cursor: pointer;
  font-weight: 500;
  
}

.link:hover {
    color: #ff4081;
    transform: scale(1.05);
    text-decoration: underline;
    cursor: pointer;
}

/* No media queries needed for these elements */
