.card{
    display:inline-block;
    vertical-align:top;
    color:#1e323c;
    background-color:white;
    width:100%;
    margin-bottom:15px;
    padding:12px;
    border:none;
    border-radius:6px;
    filter:drop-shadow(0px 2px 2px rgba(30, 50, 60, 0.5));
}
.clickable-card{
    transition:filter 0.2s ease-in-out;
}
.clickable-card:hover {
   filter:drop-shadow(0px,5px,5px rgba(30,50,60,0.5));
   cursor: pointer;
}
.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}