.checkout-container {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 30px;
  padding: 30px;
  background: #f4f7fb;
}

/* Header row */
.checkout-header {
  grid-column: 1 / 2;
  background: white;
  padding: 12px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-radius: 8px;
  font-weight: bold;
  color: #720505;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* EACH ITEM CARD */
.checkout-card {
  background: white;
  display: grid;
  grid-template-columns: 120px 2fr 1fr 1fr 50px;
  align-items: center;
  gap: 20px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.checkout-img {
  width: 100%; 
  height: 80px;
  object-fit: cover;
}
.cake-name {
  color:  #720505;
  margin-bottom: 6px;
  font-size: 30px;
  font-style: normal;
}
.checkout-lft {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
    
.checkout-summary {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.continue-btn {
  width: 100%;
  padding: 12px;
  background: white;
  border: 2px solid #720363;
  color: #db0795;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}